GA_STEADYS_TournamentSelection.xlsx
GA_Normal_RankSelection.xlsx
GA_Normal_RouletWheel.xlsx
GA_Normal_TournamentSelection.xlsx
GA_STEADYS_FIRST.xlsx
GA_STEADYS_RankSelection.xlsx
GA_STEADYS_RouletWheel.xlsx
